<ion-view title="Projects" ng-controller="projectsController as viewModel">
    <ion-content class="has-header"  has-bouncing="true" >
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="viewModel.doRefresh()"
                pulling-icon="ion-ios-arrow-down">
        </ion-refresher>
        <div ng-if="!viewModel.apiKey || viewModel.apiKey == ''" class="padding text-center">
            <p class="light-weight">
                Please provide an API key on the settings page.
            </p>
        </div>
        <div class="list">
            <ion-item ng-repeat="project in viewModel.projects"
                      class="item item-icon-right"
                      ng-click="viewModel.clickProject(project)">
                <h2>
                    {{project.repository_name}}
                </h2>
                <i class="icon ion-ios-arrow-right dark"></i>
            </ion-item>
        </div>
    </ion-content>
</ion-view>

