<ion-view title="Projects" ng-controller="projectsController as viewModel">
    <ion-content class="has-header projects-page"  has-bouncing="true" >
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="viewModel.doRefresh()"
                pulling-icon="ion-ios-arrow-down">
        </ion-refresher>
        <div ng-if="!viewModel.apiKey || viewModel.apiKey == ''" class="padding text-center">
            <p class="light-weight instructions">
                Please provide an API key on the settings page.
            </p>
        </div>
        <div ng-if="viewModel.projects && viewModel.projects.length < 1">
            <p class="light-weight instructions">
                No Projects
            </p>
        </div>
        <ion-list>
            <div collection-repeat="project in viewModel.projects"
                 class=""
                 collection-item-width="'50%'"
                 collection-item-height="'130px'">
                <ion-item ng-click="viewModel.clickProject(project)" class="item text-center wrap item-wrap project-item">
                    <i ng-if="project.repository_provider == 'github'"
                       style="font-size: 40px;"
                       class="icon ion-social-github positive"></i>
                    <h2>
                        {{project.repository_name}}
                    </h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

