<ion-header>
  <ion-navbar primary>
    <ion-title>Project</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card build-card *ngFor="#build of project.builds">
        <build-status-badge class="{{build.status}}" *ngIf="build.status != 'testing'">
            {{build.status | capitalize}}
        </build-status-badge>
        <build-status-badge class="{{build.status}}" *ngIf="build.status == 'testing'">
            <ion-spinner name="crescent"></ion-spinner>
        </build-status-badge>
        <ion-item>
            <ion-avatar item-left>
            <img [src]="getUserImageUrl(build.github_username)">
            </ion-avatar>
            <h3>
                <ion-icon name="git-branch"></ion-icon> {{build.branch}}
            </h3>
            <p>{{build.message}}</p>
        </ion-item>
        <ion-card-content>
            <p><ion-icon name="github"></ion-icon> {{build.github_username}}</p>
            <p class="commit-id">
                <ion-icon name="git-commit"></ion-icon> {{build.commit_id}}
            </p>
            <!-- <p *ngIf="build && "><ion-icon name="timer"></ion-icon> {{build.started_at | date}}</p> -->
        </ion-card-content>
        <ion-row no-padding>
            <ion-col>
                <button clear small primary>
                    <ion-icon name='share-alt'></ion-icon>
                    Commit
                </button>
            </ion-col>
            <ion-col text-center>
                <button clear small primary [disabled]="build.status == 'testing' || build.status == 'waiting'">
                    <ion-icon name='refresh'></ion-icon>
                    Restart Build
                </button>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
