<ion-navbar light *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Projects</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <spinner></spinner>
    <button ion-item *ngFor="#item of projects" (click)="itemTapped($event, item)">
      <ion-icon name="github" item-left></ion-icon>
      <!-- {{item.name}} -->
      <b *ngIf="item.repository_name">
        {{item.repository_name}}
      </b>
      <div *ngIf="item.repository_provider" class="item-note" item-right>
        {{item.repository_provider}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    <!-- You navigated here from <b>{{selectedItem.title}}</b> -->
  </div>
</ion-content>
