<ion-navbar blue *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Projects</ion-title>
</ion-navbar>

<ion-content class="darker">
  <ion-list>
    <button ion-item *ngFor="#item of projects" (click)="itemTapped($event, item)">
      <b *ngIf="item.repository_name">
        {{item.repository_name}}
      </b>
      <div *ngIf="item.repository_provider" class="item-note" item-right>
        {{item.repository_provider}}
      </div>
    </button>
  </ion-list>
</ion-content>
