<ion-header>
  <ion-navbar primary>
    <ion-title>Projects</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
    <ion-list>
        <ion-item (click)="clickProject(project)" *ngFor="#project of projects">
            <ion-icon primary item-left *ngIf="project.repository_provider == 'github'" name="logo-github"></ion-icon>
            <h2>{{project.repository_name}}</h2>
            <p>{{project.repository_provider}}</p>
            <ion-icon dark item-right name="arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
