<ion-navbar *navbar blue>
  <button menuToggle *ngIf="!selectedItem">
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Project</ion-title>
</ion-navbar>

<ion-content class="darker">
  <div padding class="selection">
    <h2 *ngIf="selectedItem">{{selectedItem.repository_name}}</h2>
  </div>

    <ion-card  *ngFor="#build of selectedItem.builds" >

      <ion-card-header *ngIf="build.branch">
        <!-- <img src="{{getGithubUser(build.github_username)}}" class="github-avatar"> -->
        <span class="octicon octicon-git-branch"></span> {{build.branch}}
        <p>
          {{build.github_username}}
        </p>
      </ion-card-header>
      <ion-card-content>

        <p>
          {{build.status}}
        </p>
        <p>
          <span class="octicon octicon-git-commit"></span> {{build.message}}
        </p>

      </ion-card-content>

      <ion-item>
        <button primary clear item-left>
          <ion-icon name="refresh"></ion-icon>
          <div>Restart</div>
        </button>
        <p item-right class="build-status">
          {{build.status}}
        </p>
      </ion-item>

    </ion-card>

</ion-content>
