<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>codeship.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD8D669C1D2DD68600FF1FD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8D66B21D2DD68600FF1FD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8D66BD1D2DD68700FF1FD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
